body {
    background-color: black;
    color: white;
}

.body {
    height: 1500px;
}
/********************************************
.navbar {
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    height: 100px;
    
}
*************************************************/
.navbar {
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    height: 80px;
    border-radius: 60PX 60PX 0PX 0PX;
    position: fixed;
    width: 100%;
    margin-top: 600px;
    margin-left: -9px;
    justify-content: space-around;
    margin-bottom:-100px;

}

.home {
    text-align: center;
    
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 20px;

}

.home img {
    width: 40px;
    height: 40px;
}

.home h3 {
    margin: -2px;
}

.header {
    background-color: white;
    color: black;
    display: flex;
    height: 60px;
    position: fixed;
    width: 100%;
    border-radius:  0PX 0PX 60PX 60PX;

}

.homepage {
    margin-left: 50px;
    margin-top: 4px;
    display: flex;
}

.homepage1 {
    margin-left: 400px;
    margin-top: 7px;
}

a {
    text-decoration: none;
    color: black;
}

.logu {
    border-radius: 190px;
    background-color: white;
    border: #000 2px solid;
    width: 250px;
    height: 250px;
    margin-top: 80px;
    align-items: center;
    margin-left: 540px;

}

.firstBorder {
    background-color: black;
    height: 150px;
    color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-around;
    padding-top: 90px;

}

.heading h3 {
    text-align: center;
    padding: 3px;
    text-decoration: underline;
}

.seller {
    display: flex;
    justify-content: space-around;
    


}



.seller img {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 150px;
}