
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fffafc;
    color: #333;
    overflow-x: hidden;
    
  }



.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 50px;
    background-image: url('https://media.tenor.com/DComov1WYRMAAAAM/yugi-moto.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

    overflow: scroll;

  }


  .card {
    width: 240px;
    height: 350px;
    perspective: 1000px;
  }

  .card:hover {
    cursor: grabbing;
    cursor: -webkit-grabbing; 
    transform: scale(1.05);
    transition: transform 0.3s;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
  }

  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  }

  .card-front {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 4%;
    background-image: url('front.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-front p {
    color: #c1c1c1;
    
  }
  .card-front h3  {
    color: #ffffff76;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    font-size: 2.0rem;
    

  }

  .card-front img {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  

  .card-back {
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
  }

  .caption {
    text-align: center;
    font-style: italic;
    color: #aa3377;
    margin-top: 3px;
    font-size: 1rem;
  }


  /****************************/


  .card5 {
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background-color: #007b8a;
    border: 7px solid #4E4E6E;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    background-image: url('back.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.card-header {
    background-color: #b25634ac;
    color:#000000b8;
    text-align: center;
    padding: 2.5px;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2% 5% 0 5%;
    border: 1.5px solid #4E4E6E;
    box-shadow: 5px 5px 5px 5px rgba(2, 0, 0, 0.666);
    width: 84%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    border-radius: 10px;

}

.card-header p {
    margin: 1% 0;
    font-size: 70%;
    color: #ffffffd3;
}

.card-header img {
    border-radius: 50%;
    width: 12%;
    height: 10%; 
}

     
.card-image {
    width: 70%;
    height: 150px;
    margin: auto ;
    text-align: center;
    object-fit: cover;
    border-bottom: 3px solid #004d66;
    margin: 5% 12% 0;
    border: 7px solid #edf7fb;
    border-radius: 10px;    

}

.COLLO {
    border-radius: 10px;
    margin: 0% 5% 5% 5%;
    background-color: #dabdacde;
    border: 3px solid #e7a178de;

}

.card-body {
    padding: 1%;
    background-color: transparent;
    color: #000;
    font-size: 55%;
    text-align: justify;
    line-height: 110%;
    display: flex;
    justify-content: space-between;
}

.card-footer {
    background-color: #004d66;
    color: #fff;
    text-align: center;
    padding: 5%;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}





