body {
    background-image: url();


}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;

}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 120px;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0;
    height: 3px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/*****************************************************/

.big {
    position: absolute;
    translate: 0% 0%;
}

.image1 {
    width: 24.5%;
    opacity: 1%;
}

.image1:active {
    width: 24.5%;
    opacity: 100%;
    transition: 1s;
}

.cont {
    display: inline;
}


