
body {
    background-image: url('photos/back.png');
    background-size: cover;
}


.main {
    display: flex;
    background-color:#680c88;
    height: 75px;
    border-radius: 0px 0px 25px 25px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.logo{
    width: 12%;
    margin-left: -20px;
    
}

.logo img {
    width: 85%;
    height: 100%;
}

.mmm106 {
    font-size: 20px;
    color: white;
    width: 30%;
    align-items: flex-start;
    margin-top: -10px;
}

.contain {
    width: 50%;    
    display: flex;
    justify-content: space-between;
    
}

.contain a {
    text-decoration: none;
    margin: 3px;
    color: black;
    padding-top: 5px;
    text-align: center;
    font-weight: 1000;
    transition: all 0.3s;
    font-size: 20px;
}


.contain a:hover {
    color: whitesmoke;
    background-color: black;
    margin: 3px;
    padding-top: 15px;
    text-align: center;
    font-weight: 1000;
    transition: all 0.5s;
}

.p p {
    text-shadow: #c3b2c9 5px 5px 5px;
}

.father {
    margin: 2%;
    margin-top: 17%;
    padding: 2%;
    height: 410px;
    width: 90%;
    background-color: #e9dadaaa;
    border-radius: 20px;
    color: white;
    border: yellow solid 5px;

}

.card {
    position: relative;
    margin: -31px;
    margin-bottom: 0px;
    width: 101.5%;
    height: 120px;
    padding: 1.5%;
    background-color: rgba(233, 233, 10, 0.8);
    border: 10px solid rgba(222, 222, 231, 0.789)violet;
    border-radius: 15px 15px 0px 0px;

}

.textme {
    float: left;
    position:absolute;
    justify-content: center;
    
}

.pa {
    float: right;
}

.pa p{
    color: black;
    font-weight: 900;
    font-size: 100%;
}





/* CSS */
.button-15 {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 290%;
  font-weight: 800;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 100%;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}



.description {
    position: relative;
    border: 5px;
    width: 100%;
    height: 150px;
    margin-left: 7.5px;


}

.pic {
    float:left;
    width: 40%;

}

.pic img {
    margin-left: 20%;
}

.des {
    float:right;
    width: 40%;
}

.des p {
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 110%;
    
}



@keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
  }


.container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 150px 150px 150px 150px
                        150px  
                         ;
    grid-gap:10px 10px ;
    margin: 0 10% 0 10%;
    position: relative;
    background-image: url(../img1/car-img/back.png);
    border-width: 20px;
    border-style: dotted;
    border-color: rgb(255, 255, 255);
    border-radius: 50px;

}

.box {
    justify-items: center;
    align-items: center;
    position: absolute;
    margin: 10px;


}




.box img {
    width: 250px;
    height: 100%;
    justify-items: center;
    align-items: center;
    border-radius: 50px;
}

.box0 img {
    width: 450px;
    height: 300%;
    justify-items: center;
    align-items: center;
    border-radius: 50px;
}

.box0 {
    animation-name: box0;
    animation-duration: 1000s ;
    animation-delay: 14.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 10;


}



.box1 {
    animation-name: box1;
    animation-duration: 18 ;
    animation-delay: 0s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box2 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 1.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;
    



}

.box3 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 3s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}


.box4 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 4.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box5 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 6s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box6 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 7.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box7 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 9s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box8 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 10.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box9 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 12s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box10 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 13.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box11 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 15s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}

.box12 {
    animation-name: box1;
    animation-duration: 18s ;
    animation-delay: 16.5s;
    animation-direction: ;
    animation-iteration-count:infinite;
    animation-timing-function: ;
    animation-play-state: running;
    animation-fill-mode: ;
    z-index: 5;


}




@keyframes box1 {
    0% {
        translate: 0% 0%;
    }
    8% {
        translate: 100% 0%;
    }
    16% {
        translate: 200% 0%;
    }
    24% {
        translate: 300% 0%;
    }
    32% {
        translate: 300% 100%;
    }
    40% {
        translate: 300% 200%;
    }
    48% {
        translate: 300% 300%;
    }
    56% {
        translate: 200% 300%;
    }
    64% {
        translate: 100% 300%;
    }
    72% {
        translate: 0% 300%;
    }
    80% {
        translate: 0% 200%;
    }
    90% {
        translate: 0% 100%;
    }
    100% {
        translate: 0% 0%;
    }
    
    
}




@keyframes box0 {
    0% {
        translate: 0% 0%;
    }
    0.001% {
        translate: 70% 85%;
        box-shadow: whitesmoke;
    }
   
  
    
    
}




/*********************************Textarea*********************************/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    translate: -900px -15px ;
    
}



form {
  margin-top: 0px;
  
}

textarea {
  width: 500%;
  padding: 10px;
  font-size: 14px;
  border: 0px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  background-color: #a4c5de;
}

button {
  display: block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



/****************************Timer***************************************/



.container2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
}

h1 {
  margin-bottom: 20px;
  
}

#timer {
  font-size: 1000%;
  font-weight: bold;
}


/***********************************************************************/


.vid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 250px 250px;
}

.vid-box {
    width: 50%;
    height: 200px;
}

